--
-- PostgreSQL database dump
--

\restrict 7F0n2ahVB2SNYN4drCLFF0hmixOaPDCI42kFr20gf3ozT6hMwhjtN1fTKPfH2xe

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: enum_batches_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_batches_status AS ENUM (
    'active',
    'expired',
    'recalled',
    'depleted'
);


ALTER TYPE public.enum_batches_status OWNER TO postgres;

--
-- Name: enum_bins_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_bins_status AS ENUM (
    'empty',
    'partial',
    'full',
    'reserved',
    'blocked',
    'damaged'
);


ALTER TYPE public.enum_bins_status OWNER TO postgres;

--
-- Name: enum_bins_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_bins_type AS ENUM (
    'storage',
    'picking',
    'packing',
    'staging',
    'quarantine'
);


ALTER TYPE public.enum_bins_type OWNER TO postgres;

--
-- Name: enum_inbound_headers_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_inbound_headers_status AS ENUM (
    'draft',
    'completed',
    'cancelled'
);


ALTER TYPE public.enum_inbound_headers_status OWNER TO postgres;

--
-- Name: enum_inventory_sessions_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_inventory_sessions_status AS ENUM (
    'draft',
    'completed',
    'cancelled'
);


ALTER TYPE public.enum_inventory_sessions_status OWNER TO postgres;

--
-- Name: enum_notifications_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_notifications_type AS ENUM (
    'success',
    'warning',
    'error',
    'info'
);


ALTER TYPE public.enum_notifications_type OWNER TO postgres;

--
-- Name: enum_outbound_headers_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_outbound_headers_status AS ENUM (
    'draft',
    'completed',
    'cancelled'
);


ALTER TYPE public.enum_outbound_headers_status OWNER TO postgres;

--
-- Name: enum_products_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_products_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_products_status OWNER TO postgres;

--
-- Name: enum_putaways_priority; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_putaways_priority AS ENUM (
    'low',
    'normal',
    'high',
    'urgent'
);


ALTER TYPE public.enum_putaways_priority OWNER TO postgres;

--
-- Name: enum_putaways_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_putaways_status AS ENUM (
    'pending',
    'assigned',
    'in_progress',
    'completed',
    'cancelled'
);


ALTER TYPE public.enum_putaways_status OWNER TO postgres;

--
-- Name: enum_quality_checks_qcResult; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."enum_quality_checks_qcResult" AS ENUM (
    'pending',
    'passed',
    'failed',
    'partial'
);


ALTER TYPE public."enum_quality_checks_qcResult" OWNER TO postgres;

--
-- Name: enum_quality_checks_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_quality_checks_status AS ENUM (
    'pending',
    'in_progress',
    'completed',
    'cancelled'
);


ALTER TYPE public.enum_quality_checks_status OWNER TO postgres;

--
-- Name: enum_racks_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_racks_status AS ENUM (
    'active',
    'inactive',
    'maintenance',
    'damaged'
);


ALTER TYPE public.enum_racks_status OWNER TO postgres;

--
-- Name: enum_suppliers_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_suppliers_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_suppliers_status OWNER TO postgres;

--
-- Name: enum_users_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_users_role AS ENUM (
    'admin',
    'manager',
    'staff'
);


ALTER TYPE public.enum_users_role OWNER TO postgres;

--
-- Name: enum_users_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_users_status AS ENUM (
    'active',
    'inactive'
);


ALTER TYPE public.enum_users_status OWNER TO postgres;

--
-- Name: enum_warehouses_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_warehouses_status AS ENUM (
    'active',
    'inactive',
    'maintenance'
);


ALTER TYPE public.enum_warehouses_status OWNER TO postgres;

--
-- Name: enum_warehouses_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_warehouses_type AS ENUM (
    'main',
    'secondary',
    'return',
    'quarantine'
);


ALTER TYPE public.enum_warehouses_type OWNER TO postgres;

--
-- Name: enum_zones_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_zones_status AS ENUM (
    'active',
    'inactive',
    'maintenance'
);


ALTER TYPE public.enum_zones_status OWNER TO postgres;

--
-- Name: enum_zones_temperature; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_zones_temperature AS ENUM (
    'ambient',
    'cold',
    'frozen'
);


ALTER TYPE public.enum_zones_temperature OWNER TO postgres;

--
-- Name: enum_zones_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_zones_type AS ENUM (
    'storage',
    'picking',
    'packing',
    'receiving',
    'shipping',
    'quarantine'
);


ALTER TYPE public.enum_zones_type OWNER TO postgres;

--
-- Name: calculate_inventory_difference(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calculate_inventory_difference() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.difference = NEW."actualQty" - NEW."systemQty";
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.calculate_inventory_difference() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW."updatedAt" = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: batches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.batches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "batchNo" character varying(255) NOT NULL,
    "productId" uuid NOT NULL,
    "supplierId" uuid NOT NULL,
    quantity numeric(10,2) DEFAULT 0 NOT NULL,
    "manufactureDate" date NOT NULL,
    "expiryDate" date NOT NULL,
    warehouse character varying(255) NOT NULL,
    location character varying(255),
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    notes text,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_batches_dates CHECK (("expiryDate" > "manufactureDate")),
    CONSTRAINT chk_batches_quantity CHECK ((quantity >= (0)::numeric)),
    CONSTRAINT chk_batches_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'expired'::character varying, 'recalled'::character varying, 'depleted'::character varying])::text[])))
);


ALTER TABLE public.batches OWNER TO postgres;

--
-- Name: TABLE batches; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.batches IS 'Bß║úng quß║ún l├╜ l├┤ h├áng';


--
-- Name: bin_stocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bin_stocks (
    id uuid NOT NULL,
    "binId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "batchNo" character varying(255),
    quantity numeric(10,2) DEFAULT 0 NOT NULL,
    "reservedQty" numeric(10,2) DEFAULT 0,
    "allocatedDate" timestamp with time zone,
    "expiryDate" timestamp with time zone,
    notes text,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.bin_stocks OWNER TO postgres;

--
-- Name: COLUMN bin_stocks."batchNo"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bin_stocks."batchNo" IS 'Sß╗æ l├┤ (nß║┐u manage batch)';


--
-- Name: COLUMN bin_stocks."reservedQty"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bin_stocks."reservedQty" IS 'Sß╗æ l╞░ß╗úng ─æ├ú reserved';


--
-- Name: COLUMN bin_stocks."allocatedDate"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bin_stocks."allocatedDate" IS 'Ng├áy ─æ╞░a v├áo vß╗ï tr├¡';


--
-- Name: COLUMN bin_stocks."expiryDate"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bin_stocks."expiryDate" IS 'Hß║ín sß╗¡ dß╗Ñng';


--
-- Name: bins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bins (
    id uuid NOT NULL,
    "rackId" uuid NOT NULL,
    code character varying(255) NOT NULL,
    level integer NOT NULL,
    "position" integer NOT NULL,
    barcode character varying(255),
    capacity numeric(10,2),
    "currentQty" integer DEFAULT 0,
    "maxWeight" numeric(10,2),
    width numeric(10,2),
    height numeric(10,2),
    depth numeric(10,2),
    "productId" uuid,
    status public.enum_bins_status DEFAULT 'empty'::public.enum_bins_status,
    type public.enum_bins_type DEFAULT 'storage'::public.enum_bins_type,
    notes text,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.bins OWNER TO postgres;

--
-- Name: COLUMN bins.code; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins.code IS 'M├ú vß╗ï tr├¡ ─æß║ºy ─æß╗º (VD: WH-HN-A-01-R01-L01-B01)';


--
-- Name: COLUMN bins.level; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins.level IS 'Tß║ºng/Level (1, 2, 3...)';


--
-- Name: COLUMN bins."position"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins."position" IS 'Vß╗ï tr├¡ tr├¬n tß║ºng (1, 2, 3...)';


--
-- Name: COLUMN bins.barcode; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins.barcode IS 'Barcode cß╗ºa vß╗ï tr├¡';


--
-- Name: COLUMN bins.capacity; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins.capacity IS 'Sß╗⌐c chß╗⌐a (sß╗æ l╞░ß╗úng SKU hoß║╖c pallet)';


--
-- Name: COLUMN bins."currentQty"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins."currentQty" IS 'Sß╗æ l╞░ß╗úng hiß╗çn tß║íi';


--
-- Name: COLUMN bins."maxWeight"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins."maxWeight" IS 'Tß║úi trß╗ìng tß╗æi ─æa (kg)';


--
-- Name: COLUMN bins.width; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins.width IS 'Chiß╗üu rß╗Öng (m)';


--
-- Name: COLUMN bins.height; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins.height IS 'Chiß╗üu cao (m)';


--
-- Name: COLUMN bins.depth; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins.depth IS 'Chiß╗üu s├óu (m)';


--
-- Name: COLUMN bins."productId"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins."productId" IS 'Sß║ún phß║⌐m ─æang chß╗⌐a (nß║┐u dedicated location)';


--
-- Name: COLUMN bins.status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins.status IS 'Trß║íng th├íi vß╗ï tr├¡';


--
-- Name: COLUMN bins.type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.bins.type IS 'Loß║íi vß╗ï tr├¡';


--
-- Name: inbound_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inbound_details (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "headerId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "batchNo" character varying(255) NOT NULL,
    quantity numeric(10,2) NOT NULL,
    "manufactureDate" date NOT NULL,
    "expDate" date NOT NULL,
    notes text,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_inbound_detail_dates CHECK (("expDate" > "manufactureDate")),
    CONSTRAINT chk_inbound_detail_quantity CHECK ((quantity > (0)::numeric))
);


ALTER TABLE public.inbound_details OWNER TO postgres;

--
-- Name: TABLE inbound_details; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.inbound_details IS 'Bß║úng chi tiß║┐t nhß║¡p kho';


--
-- Name: COLUMN inbound_details."expDate"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.inbound_details."expDate" IS 'Hß║ín sß╗¡ dß╗Ñng - ─æß║╖t t├¬n expDate theo model';


--
-- Name: inbound_headers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inbound_headers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "inboundNo" character varying(255) NOT NULL,
    "supplierId" uuid NOT NULL,
    "poNo" character varying(255),
    "receivedDate" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status character varying(50) DEFAULT 'draft'::character varying NOT NULL,
    notes text,
    "createdBy" uuid,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_inbound_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'completed'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.inbound_headers OWNER TO postgres;

--
-- Name: TABLE inbound_headers; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.inbound_headers IS 'Bß║úng phiß║┐u nhß║¡p kho';


--
-- Name: inventory_counts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_counts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "sessionId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "batchNo" character varying(255) NOT NULL,
    "systemQty" numeric(10,2) DEFAULT 0 NOT NULL,
    "actualQty" numeric(10,2) DEFAULT 0 NOT NULL,
    difference numeric(10,2) DEFAULT 0 NOT NULL,
    notes text,
    "countedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_inventory_actualqty CHECK (("actualQty" >= (0)::numeric)),
    CONSTRAINT chk_inventory_systemqty CHECK (("systemQty" >= (0)::numeric))
);


ALTER TABLE public.inventory_counts OWNER TO postgres;

--
-- Name: TABLE inventory_counts; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.inventory_counts IS 'Bß║úng chi tiß║┐t kiß╗âm k├¬';


--
-- Name: COLUMN inventory_counts."countedAt"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.inventory_counts."countedAt" IS 'Kh├┤ng c├│ timestamps:true n├¬n kh├┤ng cß║ºn createdAt/updatedAt';


--
-- Name: inventory_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_sessions (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "inventoryNo" character varying(255) NOT NULL,
    "checkDate" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    checker character varying(255) NOT NULL,
    status character varying(50) DEFAULT 'draft'::character varying NOT NULL,
    notes text,
    "createdBy" uuid,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_inventory_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'completed'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.inventory_sessions OWNER TO postgres;

--
-- Name: TABLE inventory_sessions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.inventory_sessions IS 'Bß║úng phi├¬n kiß╗âm k├¬';


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    title character varying(255) NOT NULL,
    message text,
    type public.enum_notifications_type DEFAULT 'info'::public.enum_notifications_type NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "relatedId" uuid,
    "relatedType" character varying(255),
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: COLUMN notifications."relatedId"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notifications."relatedId" IS 'ID cß╗ºa entity li├¬n quan (inbound, outbound, etc.)';


--
-- Name: COLUMN notifications."relatedType"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.notifications."relatedType" IS 'Loß║íi entity (inbound, outbound, inventory, etc.)';


--
-- Name: outbound_details; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.outbound_details (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "outboundId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "batchNo" character varying(255),
    quantity numeric(10,2) NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_outbound_detail_quantity CHECK ((quantity > (0)::numeric))
);


ALTER TABLE public.outbound_details OWNER TO postgres;

--
-- Name: TABLE outbound_details; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.outbound_details IS 'Bß║úng chi tiß║┐t xuß║Ñt kho';


--
-- Name: COLUMN outbound_details."batchNo"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.outbound_details."batchNo" IS 'batchNo nullable - kh├┤ng bß║»t buß╗Öc FK ─æß╗â linh hoß║ít';


--
-- Name: outbound_headers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.outbound_headers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "outboundNo" character varying(255) NOT NULL,
    customer character varying(255) NOT NULL,
    "soNo" character varying(255),
    "deliveryDate" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status character varying(50) DEFAULT 'draft'::character varying NOT NULL,
    notes text,
    "createdBy" uuid,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_outbound_status CHECK (((status)::text = ANY ((ARRAY['draft'::character varying, 'completed'::character varying, 'cancelled'::character varying])::text[])))
);


ALTER TABLE public.outbound_headers OWNER TO postgres;

--
-- Name: TABLE outbound_headers; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.outbound_headers IS 'Bß║úng phiß║┐u xuß║Ñt kho';


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    sku character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    unit character varying(50),
    barcode character varying(255),
    "manageBatch" boolean DEFAULT false NOT NULL,
    description text,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_products_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: TABLE products; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.products IS 'Bß║úng sß║ún phß║⌐m';


--
-- Name: putaways; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.putaways (
    id uuid NOT NULL,
    "putawayNo" character varying(255) NOT NULL,
    "qcId" uuid NOT NULL,
    "inboundId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "batchNo" character varying(255),
    quantity numeric(10,2) NOT NULL,
    "fromLocation" character varying(255),
    "toBinId" uuid,
    "suggestedBinId" uuid,
    priority public.enum_putaways_priority DEFAULT 'normal'::public.enum_putaways_priority,
    "assignedTo" uuid,
    "assignedAt" timestamp with time zone,
    "startedAt" timestamp with time zone,
    "completedAt" timestamp with time zone,
    status public.enum_putaways_status DEFAULT 'pending'::public.enum_putaways_status,
    notes text,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.putaways OWNER TO postgres;

--
-- Name: COLUMN putaways."putawayNo"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways."putawayNo" IS 'M├ú phiß║┐u putaway';


--
-- Name: COLUMN putaways."qcId"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways."qcId" IS 'Li├¬n kß║┐t vß╗¢i QC';


--
-- Name: COLUMN putaways."inboundId"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways."inboundId" IS 'Li├¬n kß║┐t vß╗¢i phiß║┐u nhß║¡p';


--
-- Name: COLUMN putaways.quantity; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways.quantity IS 'Sß╗æ l╞░ß╗úng cß║ºn ─æ╞░a v├áo kho';


--
-- Name: COLUMN putaways."fromLocation"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways."fromLocation" IS 'Vß╗ï tr├¡ staging/receiving';


--
-- Name: COLUMN putaways."toBinId"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways."toBinId" IS 'Vß╗ï tr├¡ ─æ├¡ch trong kho';


--
-- Name: COLUMN putaways."suggestedBinId"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways."suggestedBinId" IS 'Vß╗ï tr├¡ gß╗úi ├╜ bß╗ƒi hß╗ç thß╗æng';


--
-- Name: COLUMN putaways.priority; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways.priority IS '─Éß╗Ö ╞░u ti├¬n';


--
-- Name: COLUMN putaways."assignedTo"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways."assignedTo" IS 'Ng╞░ß╗¥i ─æ╞░ß╗úc giao nhiß╗çm vß╗Ñ';


--
-- Name: COLUMN putaways."startedAt"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways."startedAt" IS 'Thß╗¥i gian bß║»t ─æß║ºu thß╗▒c hiß╗çn';


--
-- Name: COLUMN putaways."completedAt"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.putaways."completedAt" IS 'Thß╗¥i gian ho├án th├ánh';


--
-- Name: quality_checks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quality_checks (
    id uuid NOT NULL,
    "qcNo" character varying(255) NOT NULL,
    "inboundId" uuid NOT NULL,
    "productId" uuid NOT NULL,
    "batchNo" character varying(255),
    "expectedQty" numeric(10,2) NOT NULL,
    "receivedQty" numeric(10,2) NOT NULL,
    "acceptedQty" numeric(10,2) DEFAULT 0 NOT NULL,
    "rejectedQty" numeric(10,2) DEFAULT 0 NOT NULL,
    "damagedQty" numeric(10,2) DEFAULT 0 NOT NULL,
    "qcResult" public."enum_quality_checks_qcResult" DEFAULT 'pending'::public."enum_quality_checks_qcResult",
    "qcBy" uuid,
    "qcDate" timestamp with time zone,
    "defectTypes" character varying(255)[],
    images text[],
    notes text,
    status public.enum_quality_checks_status DEFAULT 'pending'::public.enum_quality_checks_status,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.quality_checks OWNER TO postgres;

--
-- Name: COLUMN quality_checks."qcNo"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."qcNo" IS 'M├ú phiß║┐u kiß╗âm tra chß║Ñt l╞░ß╗úng';


--
-- Name: COLUMN quality_checks."inboundId"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."inboundId" IS 'Li├¬n kß║┐t vß╗¢i phiß║┐u nhß║¡p kho';


--
-- Name: COLUMN quality_checks."expectedQty"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."expectedQty" IS 'Sß╗æ l╞░ß╗úng dß╗▒ kiß║┐n';


--
-- Name: COLUMN quality_checks."receivedQty"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."receivedQty" IS 'Sß╗æ l╞░ß╗úng thß╗▒c nhß║¡n';


--
-- Name: COLUMN quality_checks."acceptedQty"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."acceptedQty" IS 'Sß╗æ l╞░ß╗úng ─æß║ít chuß║⌐n';


--
-- Name: COLUMN quality_checks."rejectedQty"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."rejectedQty" IS 'Sß╗æ l╞░ß╗úng kh├┤ng ─æß║ít';


--
-- Name: COLUMN quality_checks."damagedQty"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."damagedQty" IS 'Sß╗æ l╞░ß╗úng h╞░ hß╗Ång';


--
-- Name: COLUMN quality_checks."qcResult"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."qcResult" IS 'Kß║┐t quß║ú kiß╗âm tra: pending/passed/failed/partial';


--
-- Name: COLUMN quality_checks."qcBy"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."qcBy" IS 'Ng╞░ß╗¥i kiß╗âm tra';


--
-- Name: COLUMN quality_checks."qcDate"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."qcDate" IS 'Ng├áy kiß╗âm tra';


--
-- Name: COLUMN quality_checks."defectTypes"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks."defectTypes" IS 'Loß║íi lß╗ùi: ["damaged", "expired", "wrong_item", "poor_quality"]';


--
-- Name: COLUMN quality_checks.images; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks.images IS 'ß║ónh chß╗⌐ng minh lß╗ùi';


--
-- Name: COLUMN quality_checks.notes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.quality_checks.notes IS 'Ghi ch├║ vß╗ü kß║┐t quß║ú kiß╗âm tra';


--
-- Name: racks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.racks (
    id uuid NOT NULL,
    "aisleId" uuid NOT NULL,
    code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    sequence integer DEFAULT 0,
    levels integer DEFAULT 5,
    "maxWeight" numeric(10,2),
    width numeric(10,2),
    height numeric(10,2),
    depth numeric(10,2),
    status public.enum_racks_status DEFAULT 'active'::public.enum_racks_status,
    notes text,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.racks OWNER TO postgres;

--
-- Name: COLUMN racks.code; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.racks.code IS 'M├ú kß╗ç (VD: R01, R02)';


--
-- Name: COLUMN racks.name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.racks.name IS 'T├¬n kß╗ç';


--
-- Name: COLUMN racks.sequence; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.racks.sequence IS 'Thß╗⌐ tß╗▒ tr├¬n d├úy';


--
-- Name: COLUMN racks.levels; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.racks.levels IS 'Sß╗æ tß║ºng/level';


--
-- Name: COLUMN racks."maxWeight"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.racks."maxWeight" IS 'Tß║úi trß╗ìng tß╗æi ─æa (kg)';


--
-- Name: COLUMN racks.width; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.racks.width IS 'Chiß╗üu rß╗Öng (m)';


--
-- Name: COLUMN racks.height; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.racks.height IS 'Chiß╗üu cao (m)';


--
-- Name: COLUMN racks.depth; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.racks.depth IS 'Chiß╗üu s├óu (m)';


--
-- Name: stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    "productId" uuid NOT NULL,
    quantity numeric(10,2) DEFAULT 0 NOT NULL,
    "reservedQty" numeric(10,2) DEFAULT 0 NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_stock_available CHECK ((quantity >= "reservedQty")),
    CONSTRAINT chk_stock_quantity CHECK ((quantity >= (0)::numeric)),
    CONSTRAINT chk_stock_reserved CHECK (("reservedQty" >= (0)::numeric))
);


ALTER TABLE public.stock OWNER TO postgres;

--
-- Name: TABLE stock; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.stock IS 'Bß║úng tß╗ôn kho tß╗òng hß╗úp';


--
-- Name: COLUMN stock.quantity; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.stock.quantity IS 'Sß╗¡ dß╗Ñng DECIMAL ─æß╗â hß╗ù trß╗ú cß║ú ─æ╞ín vß╗ï nguy├¬n v├á thß║¡p ph├ón (Kg, L├¡t)';


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    contact character varying(255),
    email character varying(255),
    phone character varying(255),
    address text,
    "taxCode" character varying(255),
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    notes text,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_suppliers_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: TABLE suppliers; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.suppliers IS 'Bß║úng nh├á cung cß║Ñp';


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    "fullName" character varying(255),
    role character varying(50) DEFAULT 'staff'::character varying NOT NULL,
    status character varying(50) DEFAULT 'active'::character varying NOT NULL,
    "createdAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    CONSTRAINT chk_users_role CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'manager'::character varying, 'staff'::character varying])::text[]))),
    CONSTRAINT chk_users_status CHECK (((status)::text = ANY ((ARRAY['active'::character varying, 'inactive'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: TABLE users; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.users IS 'Bß║úng ng╞░ß╗¥i d├╣ng hß╗ç thß╗æng';


--
-- Name: v_batch_expiry_status; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_batch_expiry_status AS
 SELECT b.id,
    b."batchNo",
    b."productId",
    p.sku,
    p.name AS "productName",
    b.quantity,
    b."manufactureDate",
    b."expiryDate",
    b.warehouse,
    b.location,
    b.status,
    s.name AS "supplierName",
    (b."expiryDate" - CURRENT_DATE) AS "daysUntilExpiry",
        CASE
            WHEN (b."expiryDate" < CURRENT_DATE) THEN 'expired'::text
            WHEN ((b."expiryDate" - CURRENT_DATE) <= 7) THEN 'critical'::text
            WHEN ((b."expiryDate" - CURRENT_DATE) <= 30) THEN 'warning'::text
            ELSE 'normal'::text
        END AS "expiryStatus"
   FROM ((public.batches b
     JOIN public.products p ON ((b."productId" = p.id)))
     JOIN public.suppliers s ON ((b."supplierId" = s.id)))
  WHERE (((b.status)::text = 'active'::text) AND (b.quantity > (0)::numeric));


ALTER VIEW public.v_batch_expiry_status OWNER TO postgres;

--
-- Name: VIEW v_batch_expiry_status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.v_batch_expiry_status IS 'View theo d├╡i l├┤ h├áng sß║»p hß║┐t hß║ín';


--
-- Name: v_inbound_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_inbound_summary AS
SELECT
    NULL::uuid AS id,
    NULL::character varying(255) AS "inboundNo",
    NULL::timestamp with time zone AS "receivedDate",
    NULL::character varying(50) AS status,
    NULL::character varying(255) AS "supplierName",
    NULL::character varying(255) AS "createdByName",
    NULL::bigint AS "itemCount",
    NULL::numeric AS "totalQuantity",
    NULL::timestamp with time zone AS "createdAt",
    NULL::timestamp with time zone AS "updatedAt";


ALTER VIEW public.v_inbound_summary OWNER TO postgres;

--
-- Name: VIEW v_inbound_summary; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.v_inbound_summary IS 'View tß╗òng hß╗úp phiß║┐u nhß║¡p kho';


--
-- Name: v_outbound_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_outbound_summary AS
SELECT
    NULL::uuid AS id,
    NULL::character varying(255) AS "outboundNo",
    NULL::timestamp with time zone AS "deliveryDate",
    NULL::character varying(255) AS customer,
    NULL::character varying(50) AS status,
    NULL::character varying(255) AS "createdByName",
    NULL::bigint AS "itemCount",
    NULL::numeric AS "totalQuantity",
    NULL::timestamp with time zone AS "createdAt",
    NULL::timestamp with time zone AS "updatedAt";


ALTER VIEW public.v_outbound_summary OWNER TO postgres;

--
-- Name: VIEW v_outbound_summary; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.v_outbound_summary IS 'View tß╗òng hß╗úp phiß║┐u xuß║Ñt kho';


--
-- Name: v_stock_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_stock_summary AS
 SELECT s.id,
    s."productId",
    p.sku,
    p.name AS "productName",
    p.unit,
    s.quantity,
    s."reservedQty",
    (s.quantity - s."reservedQty") AS "availableQty",
    p.status AS "productStatus",
    p."manageBatch",
    s."updatedAt"
   FROM (public.stock s
     JOIN public.products p ON ((s."productId" = p.id)));


ALTER VIEW public.v_stock_summary OWNER TO postgres;

--
-- Name: VIEW v_stock_summary; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.v_stock_summary IS 'View tß╗òng hß╗úp tß╗ôn kho vß╗¢i th├┤ng tin sß║ún phß║⌐m';


--
-- Name: warehouses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.warehouses (
    id uuid NOT NULL,
    code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    address text,
    city character varying(255),
    capacity numeric(10,2),
    status public.enum_warehouses_status DEFAULT 'active'::public.enum_warehouses_status,
    type public.enum_warehouses_type DEFAULT 'main'::public.enum_warehouses_type,
    "managerId" uuid,
    notes text,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.warehouses OWNER TO postgres;

--
-- Name: COLUMN warehouses.code; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.warehouses.code IS 'M├ú kho (VD: WH-HN, WH-HCM)';


--
-- Name: COLUMN warehouses.name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.warehouses.name IS 'T├¬n kho';


--
-- Name: COLUMN warehouses.address; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.warehouses.address IS '─Éß╗ïa chß╗ë kho';


--
-- Name: COLUMN warehouses.city; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.warehouses.city IS 'Th├ánh phß╗æ';


--
-- Name: COLUMN warehouses.capacity; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.warehouses.capacity IS 'Sß╗⌐c chß╗⌐a (m┬▓)';


--
-- Name: COLUMN warehouses.status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.warehouses.status IS 'Trß║íng th├íi kho';


--
-- Name: COLUMN warehouses.type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.warehouses.type IS 'Loß║íi kho: ch├¡nh, phß╗Ñ, ho├án trß║ú, c├ích ly';


--
-- Name: COLUMN warehouses."managerId"; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.warehouses."managerId" IS 'ID ng╞░ß╗¥i quß║ún l├╜ kho';


--
-- Name: zones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.zones (
    id uuid NOT NULL,
    "warehouseId" uuid NOT NULL,
    code character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    type public.enum_zones_type DEFAULT 'storage'::public.enum_zones_type,
    temperature public.enum_zones_temperature DEFAULT 'ambient'::public.enum_zones_temperature,
    capacity numeric(10,2),
    status public.enum_zones_status DEFAULT 'active'::public.enum_zones_status,
    notes text,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    "zoneId" uuid
);


ALTER TABLE public.zones OWNER TO postgres;

--
-- Name: COLUMN zones.code; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.zones.code IS 'M├ú khu vß╗▒c (VD: ZONE-A, ZONE-B)';


--
-- Name: COLUMN zones.name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.zones.name IS 'T├¬n khu vß╗▒c';


--
-- Name: COLUMN zones.type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.zones.type IS 'Loß║íi khu vß╗▒c';


--
-- Name: COLUMN zones.temperature; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.zones.temperature IS 'Nhiß╗çt ─æß╗Ö: th╞░ß╗¥ng, lß║ính, ─æ├┤ng';


--
-- Name: COLUMN zones.capacity; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.zones.capacity IS 'Sß╗⌐c chß╗⌐a (m┬▓)';


--
-- Data for Name: batches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bin_stocks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bin_stocks (id, "binId", "productId", "batchNo", quantity, "reservedQty", "allocatedDate", "expiryDate", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: bins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bins (id, "rackId", code, level, "position", barcode, capacity, "currentQty", "maxWeight", width, height, depth, "productId", status, type, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: inbound_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inbound_headers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_counts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.notifications (id, "userId", title, message, type, "isRead", "relatedId", "relatedType", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: outbound_details; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: outbound_headers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: putaways; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.putaways (id, "putawayNo", "qcId", "inboundId", "productId", "batchNo", quantity, "fromLocation", "toBinId", "suggestedBinId", priority, "assignedTo", "assignedAt", "startedAt", "completedAt", status, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: quality_checks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quality_checks (id, "qcNo", "inboundId", "productId", "batchNo", "expectedQty", "receivedQty", "acceptedQty", "rejectedQty", "damagedQty", "qcResult", "qcBy", "qcDate", "defectTypes", images, notes, status, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: racks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.racks (id, "aisleId", code, name, sequence, levels, "maxWeight", width, height, depth, status, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: stock; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.warehouses (id, code, name, address, city, capacity, status, type, "managerId", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: zones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.zones (id, "warehouseId", code, name, type, temperature, capacity, status, notes, "createdAt", "updatedAt", "zoneId") FROM stdin;
\.


--
-- Name: batches batches_batchNo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT "batches_batchNo_key" UNIQUE ("batchNo");


--
-- Name: batches batches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT batches_pkey PRIMARY KEY (id);


--
-- Name: bin_stocks bin_stocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bin_stocks
    ADD CONSTRAINT bin_stocks_pkey PRIMARY KEY (id);


--
-- Name: bins bins_barcode_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bins
    ADD CONSTRAINT bins_barcode_key UNIQUE (barcode);


--
-- Name: bins bins_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bins
    ADD CONSTRAINT bins_code_key UNIQUE (code);


--
-- Name: bins bins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bins
    ADD CONSTRAINT bins_pkey PRIMARY KEY (id);


--
-- Name: inbound_details inbound_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inbound_details
    ADD CONSTRAINT inbound_details_pkey PRIMARY KEY (id);


--
-- Name: inbound_headers inbound_headers_inboundNo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inbound_headers
    ADD CONSTRAINT "inbound_headers_inboundNo_key" UNIQUE ("inboundNo");


--
-- Name: inbound_headers inbound_headers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inbound_headers
    ADD CONSTRAINT inbound_headers_pkey PRIMARY KEY (id);


--
-- Name: inventory_counts inventory_counts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_counts
    ADD CONSTRAINT inventory_counts_pkey PRIMARY KEY (id);


--
-- Name: inventory_sessions inventory_sessions_inventoryNo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT "inventory_sessions_inventoryNo_key" UNIQUE ("inventoryNo");


--
-- Name: inventory_sessions inventory_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT inventory_sessions_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: outbound_details outbound_details_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outbound_details
    ADD CONSTRAINT outbound_details_pkey PRIMARY KEY (id);


--
-- Name: outbound_headers outbound_headers_outboundNo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outbound_headers
    ADD CONSTRAINT "outbound_headers_outboundNo_key" UNIQUE ("outboundNo");


--
-- Name: outbound_headers outbound_headers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outbound_headers
    ADD CONSTRAINT outbound_headers_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: putaways putaways_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putaways
    ADD CONSTRAINT putaways_pkey PRIMARY KEY (id);


--
-- Name: putaways putaways_putawayNo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putaways
    ADD CONSTRAINT "putaways_putawayNo_key" UNIQUE ("putawayNo");


--
-- Name: quality_checks quality_checks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quality_checks
    ADD CONSTRAINT quality_checks_pkey PRIMARY KEY (id);


--
-- Name: quality_checks quality_checks_qcNo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quality_checks
    ADD CONSTRAINT "quality_checks_qcNo_key" UNIQUE ("qcNo");


--
-- Name: racks racks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.racks
    ADD CONSTRAINT racks_pkey PRIMARY KEY (id);


--
-- Name: stock stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT stock_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: products unique_product_sku; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT unique_product_sku UNIQUE (sku);


--
-- Name: stock unique_stock_product; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT unique_stock_product UNIQUE ("productId");


--
-- Name: suppliers unique_supplier_email; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT unique_supplier_email UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: users users_username_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key1 UNIQUE (username);


--
-- Name: warehouses warehouses_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_code_key UNIQUE (code);


--
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (id);


--
-- Name: zones zones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT zones_pkey PRIMARY KEY (id);


--
-- Name: bin_stocks_bin_id_product_id_batch_no; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX bin_stocks_bin_id_product_id_batch_no ON public.bin_stocks USING btree ("binId", "productId", "batchNo");


--
-- Name: bins_product_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bins_product_id ON public.bins USING btree ("productId");


--
-- Name: bins_rack_id_level_position; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bins_rack_id_level_position ON public.bins USING btree ("rackId", level, "position");


--
-- Name: bins_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX bins_status ON public.bins USING btree (status);


--
-- Name: idx_batches_expirydate; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_expirydate ON public.batches USING btree ("expiryDate");


--
-- Name: idx_batches_productid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_productid ON public.batches USING btree ("productId");


--
-- Name: idx_batches_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_status ON public.batches USING btree (status);


--
-- Name: idx_batches_supplierid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_supplierid ON public.batches USING btree ("supplierId");


--
-- Name: idx_batches_warehouse; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_batches_warehouse ON public.batches USING btree (warehouse);


--
-- Name: idx_inbound_details_batchno; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inbound_details_batchno ON public.inbound_details USING btree ("batchNo");


--
-- Name: idx_inbound_details_headerid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inbound_details_headerid ON public.inbound_details USING btree ("headerId");


--
-- Name: idx_inbound_details_productid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inbound_details_productid ON public.inbound_details USING btree ("productId");


--
-- Name: idx_inbound_headers_createdby; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inbound_headers_createdby ON public.inbound_headers USING btree ("createdBy");


--
-- Name: idx_inbound_headers_receiveddate; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inbound_headers_receiveddate ON public.inbound_headers USING btree ("receivedDate");


--
-- Name: idx_inbound_headers_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inbound_headers_status ON public.inbound_headers USING btree (status);


--
-- Name: idx_inbound_headers_supplierid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inbound_headers_supplierid ON public.inbound_headers USING btree ("supplierId");


--
-- Name: idx_inventory_counts_batchno; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inventory_counts_batchno ON public.inventory_counts USING btree ("batchNo");


--
-- Name: idx_inventory_counts_productid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inventory_counts_productid ON public.inventory_counts USING btree ("productId");


--
-- Name: idx_inventory_counts_sessionid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inventory_counts_sessionid ON public.inventory_counts USING btree ("sessionId");


--
-- Name: idx_inventory_sessions_checkdate; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inventory_sessions_checkdate ON public.inventory_sessions USING btree ("checkDate");


--
-- Name: idx_inventory_sessions_createdby; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inventory_sessions_createdby ON public.inventory_sessions USING btree ("createdBy");


--
-- Name: idx_inventory_sessions_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_inventory_sessions_status ON public.inventory_sessions USING btree (status);


--
-- Name: idx_outbound_details_batchno; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outbound_details_batchno ON public.outbound_details USING btree ("batchNo");


--
-- Name: idx_outbound_details_outboundid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outbound_details_outboundid ON public.outbound_details USING btree ("outboundId");


--
-- Name: idx_outbound_details_productid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outbound_details_productid ON public.outbound_details USING btree ("productId");


--
-- Name: idx_outbound_headers_createdby; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outbound_headers_createdby ON public.outbound_headers USING btree ("createdBy");


--
-- Name: idx_outbound_headers_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outbound_headers_customer ON public.outbound_headers USING btree (customer);


--
-- Name: idx_outbound_headers_deliverydate; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outbound_headers_deliverydate ON public.outbound_headers USING btree ("deliveryDate");


--
-- Name: idx_outbound_headers_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_outbound_headers_status ON public.outbound_headers USING btree (status);


--
-- Name: idx_products_barcode; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_barcode ON public.products USING btree (barcode);


--
-- Name: idx_products_managebatch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_managebatch ON public.products USING btree ("manageBatch");


--
-- Name: idx_products_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_name ON public.products USING btree (name);


--
-- Name: idx_products_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_status ON public.products USING btree (status);


--
-- Name: idx_stock_productid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_stock_productid ON public.stock USING btree ("productId");


--
-- Name: idx_suppliers_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suppliers_email ON public.suppliers USING btree (email);


--
-- Name: idx_suppliers_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suppliers_name ON public.suppliers USING btree (name);


--
-- Name: idx_suppliers_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suppliers_status ON public.suppliers USING btree (status);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: idx_users_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_status ON public.users USING btree (status);


--
-- Name: notifications_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_created_at ON public.notifications USING btree ("createdAt");


--
-- Name: notifications_user_id_is_read; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_user_id_is_read ON public.notifications USING btree ("userId", "isRead");


--
-- Name: putaways_assigned_to; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX putaways_assigned_to ON public.putaways USING btree ("assignedTo");


--
-- Name: putaways_status_priority; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX putaways_status_priority ON public.putaways USING btree (status, priority);


--
-- Name: racks_aisle_id_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX racks_aisle_id_code ON public.racks USING btree ("aisleId", code);


--
-- Name: suppliers_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX suppliers_name ON public.suppliers USING btree (name);


--
-- Name: zones_warehouse_id_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX zones_warehouse_id_code ON public.zones USING btree ("warehouseId", code);


--
-- Name: v_inbound_summary _RETURN; Type: RULE; Schema: public; Owner: postgres
--

CREATE OR REPLACE VIEW public.v_inbound_summary AS
 SELECT ih.id,
    ih."inboundNo",
    ih."receivedDate",
    ih.status,
    s.name AS "supplierName",
    u."fullName" AS "createdByName",
    count(id_detail.id) AS "itemCount",
    sum(id_detail.quantity) AS "totalQuantity",
    ih."createdAt",
    ih."updatedAt"
   FROM (((public.inbound_headers ih
     LEFT JOIN public.suppliers s ON ((ih."supplierId" = s.id)))
     LEFT JOIN public.users u ON ((ih."createdBy" = u.id)))
     LEFT JOIN public.inbound_details id_detail ON ((ih.id = id_detail."headerId")))
  GROUP BY ih.id, s.name, u."fullName";


--
-- Name: v_outbound_summary _RETURN; Type: RULE; Schema: public; Owner: postgres
--

CREATE OR REPLACE VIEW public.v_outbound_summary AS
 SELECT oh.id,
    oh."outboundNo",
    oh."deliveryDate",
    oh.customer,
    oh.status,
    u."fullName" AS "createdByName",
    count(od.id) AS "itemCount",
    sum(od.quantity) AS "totalQuantity",
    oh."createdAt",
    oh."updatedAt"
   FROM ((public.outbound_headers oh
     LEFT JOIN public.users u ON ((oh."createdBy" = u.id)))
     LEFT JOIN public.outbound_details od ON ((oh.id = od."outboundId")))
  GROUP BY oh.id, u."fullName";


--
-- Name: inventory_counts calculate_inventory_counts_difference; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER calculate_inventory_counts_difference BEFORE INSERT OR UPDATE ON public.inventory_counts FOR EACH ROW EXECUTE FUNCTION public.calculate_inventory_difference();


--
-- Name: batches update_batches_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_batches_updated_at BEFORE UPDATE ON public.batches FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: inbound_headers update_inbound_headers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_inbound_headers_updated_at BEFORE UPDATE ON public.inbound_headers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: inventory_sessions update_inventory_sessions_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_inventory_sessions_updated_at BEFORE UPDATE ON public.inventory_sessions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: outbound_details update_outbound_details_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_outbound_details_updated_at BEFORE UPDATE ON public.outbound_details FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: outbound_headers update_outbound_headers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_outbound_headers_updated_at BEFORE UPDATE ON public.outbound_headers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: products update_products_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_products_updated_at BEFORE UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: stock update_stock_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_stock_updated_at BEFORE UPDATE ON public.stock FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: suppliers update_suppliers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_suppliers_updated_at BEFORE UPDATE ON public.suppliers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: users update_users_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_users_updated_at BEFORE UPDATE ON public.users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: bin_stocks bin_stocks_batchNo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bin_stocks
    ADD CONSTRAINT "bin_stocks_batchNo_fkey" FOREIGN KEY ("batchNo") REFERENCES public.batches("batchNo") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: bin_stocks bin_stocks_binId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bin_stocks
    ADD CONSTRAINT "bin_stocks_binId_fkey" FOREIGN KEY ("binId") REFERENCES public.bins(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: bin_stocks bin_stocks_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bin_stocks
    ADD CONSTRAINT "bin_stocks_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE;


--
-- Name: bins bins_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bins
    ADD CONSTRAINT "bins_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: bins bins_rackId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bins
    ADD CONSTRAINT "bins_rackId_fkey" FOREIGN KEY ("rackId") REFERENCES public.racks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: batches fk_batch_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT fk_batch_product FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: batches fk_batch_supplier; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.batches
    ADD CONSTRAINT fk_batch_supplier FOREIGN KEY ("supplierId") REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inbound_headers fk_inbound_creator; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inbound_headers
    ADD CONSTRAINT fk_inbound_creator FOREIGN KEY ("createdBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inbound_details fk_inbound_detail_header; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inbound_details
    ADD CONSTRAINT fk_inbound_detail_header FOREIGN KEY ("headerId") REFERENCES public.inbound_headers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inbound_details fk_inbound_detail_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inbound_details
    ADD CONSTRAINT fk_inbound_detail_product FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inbound_headers fk_inbound_supplier; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inbound_headers
    ADD CONSTRAINT fk_inbound_supplier FOREIGN KEY ("supplierId") REFERENCES public.suppliers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inventory_counts fk_inventory_count_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_counts
    ADD CONSTRAINT fk_inventory_count_product FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: inventory_counts fk_inventory_count_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_counts
    ADD CONSTRAINT fk_inventory_count_session FOREIGN KEY ("sessionId") REFERENCES public.inventory_sessions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inventory_sessions fk_inventory_creator; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_sessions
    ADD CONSTRAINT fk_inventory_creator FOREIGN KEY ("createdBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: outbound_headers fk_outbound_creator; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outbound_headers
    ADD CONSTRAINT fk_outbound_creator FOREIGN KEY ("createdBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: outbound_details fk_outbound_detail_header; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outbound_details
    ADD CONSTRAINT fk_outbound_detail_header FOREIGN KEY ("outboundId") REFERENCES public.outbound_headers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: outbound_details fk_outbound_detail_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.outbound_details
    ADD CONSTRAINT fk_outbound_detail_product FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: stock fk_stock_product; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock
    ADD CONSTRAINT fk_stock_product FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifications notifications_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "notifications_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE;


--
-- Name: putaways putaways_assignedTo_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putaways
    ADD CONSTRAINT "putaways_assignedTo_fkey" FOREIGN KEY ("assignedTo") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: putaways putaways_inboundId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putaways
    ADD CONSTRAINT "putaways_inboundId_fkey" FOREIGN KEY ("inboundId") REFERENCES public.inbound_headers(id) ON UPDATE CASCADE;


--
-- Name: putaways putaways_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putaways
    ADD CONSTRAINT "putaways_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE;


--
-- Name: putaways putaways_qcId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putaways
    ADD CONSTRAINT "putaways_qcId_fkey" FOREIGN KEY ("qcId") REFERENCES public.quality_checks(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: putaways putaways_suggestedBinId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putaways
    ADD CONSTRAINT "putaways_suggestedBinId_fkey" FOREIGN KEY ("suggestedBinId") REFERENCES public.bins(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: putaways putaways_toBinId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.putaways
    ADD CONSTRAINT "putaways_toBinId_fkey" FOREIGN KEY ("toBinId") REFERENCES public.bins(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: quality_checks quality_checks_inboundId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quality_checks
    ADD CONSTRAINT "quality_checks_inboundId_fkey" FOREIGN KEY ("inboundId") REFERENCES public.inbound_headers(id) ON UPDATE CASCADE;


--
-- Name: quality_checks quality_checks_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quality_checks
    ADD CONSTRAINT "quality_checks_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE;


--
-- Name: quality_checks quality_checks_qcBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quality_checks
    ADD CONSTRAINT "quality_checks_qcBy_fkey" FOREIGN KEY ("qcBy") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: racks racks_aisleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.racks
    ADD CONSTRAINT "racks_aisleId_fkey" FOREIGN KEY ("aisleId") REFERENCES public.zones(id) ON UPDATE CASCADE;


--
-- Name: warehouses warehouses_managerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT "warehouses_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: zones zones_warehouseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT "zones_warehouseId_fkey" FOREIGN KEY ("warehouseId") REFERENCES public.warehouses(id) ON UPDATE CASCADE;


--
-- Name: zones zones_zoneId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT "zones_zoneId_fkey" FOREIGN KEY ("zoneId") REFERENCES public.zones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 7F0n2ahVB2SNYN4drCLFF0hmixOaPDCI42kFr20gf3ozT6hMwhjtN1fTKPfH2xe

